/* Body and main container */

body {
  margin: 0;
  background: #f2f2f2;
  height: 100%;
  font-family: Arial, sans-serif;
}

#simulations {
  max-width: 1500px;
  background: #fff;
  min-height: 100%;
  margin: 0 auto;
  padding: 1em;
}

/* Individual items */

.simulation-item {
  margin: 0 1em;
}

.simulation-item.active {
  box-shadow: 0 0 3px #000;
  padding: 1em;
  margin: 0.5em 0;
}

/* Timelines */

.simulation-timeline-container {
  background: #eee;
  border-left: 2px #999 solid;
  border-right: 2px #999 solid;
  opacity: 0.75;
  line-height: 2em;
  transition: opacity 0.5s;
}

.simulation-timeline-container:hover {
  opacity: 1;
  cursor: pointer;
}

.simulation-timeline {
  background: #555;
  display: block;
  text-indent: 8px;
  height: 100%;
  min-width: 5px;
}

.windfall .simulation-timeline {
  background: #00b400;
}

.loan .simulation-timeline {
  background: #b40000;
  color: #fff;
}

.expenditure .simulation-timeline {
  background: #ffcc00;
}

.job .simulation-timeline {
  background: #0000b4;
  color: #fff;
}

.invalid .simulation-timeline {
  color: #a00;
  background: #fee;
}

/* Active simulation items */

.simulation-item-actions {
  display: flex;
  margin: 1em 0 0 0;
  flex-direction: row;
  justify-content: space-between;
}

input:not([type=checkbox]) {
  width: 9em;
  margin-right: 0.3em;
}

/* Add simulation items */

.simulation-add-item {
  padding: 1em 0;
}

/* Simulation manager */

.simulation-manager {
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px #aaa solid;
}

/* Form inputs */

button {
  border-radius: 3px;
  margin: 0.5em 1em;
  padding: 0.3em 2em;
  opacity: 0.8;
  transition: opacity 0.5s;
  border: 1px #aaa solid;
}

button:hover {
  cursor: pointer;
  opacity: 1;

}